.card {
  background-color: var(--color-skeleton-bg); 
  border-radius: 10px;
  overflow: hidden;
}

.image {
  height: 230px;
}

.info {
  padding: 1rem;
}

.line {
  height: 20px;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.short {
  width: 60%;
}

.types {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.type {
  width: 70px;
  height: 25px;
  border-radius: 5px;
}

.image,
.line,
.type {
  background: linear-gradient(
    90deg,
    var(--color-skeleton-shimmer-base) 25%,
    var(--color-skeleton-shimmer-highlight) 50%,
    var(--color-skeleton-shimmer-base) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 2.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}